{% extends 'base.html' %} {% block title %}Home{% endblock title %}
 {% load static %} 
{% block carousel %} {% include 'messages.html' %}

<!--  Carousel -->

<div
  id="carouselExampleControls"
  class="carousel slide "
  data-bs-ride="carousel"
  
>
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="{% static 'img/c2.jpg' %} "  style="width: 100%; height: auto" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/c7.jpg' %}" style="width: 100%; height: auto" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/c5.jpg' %}" style="width: 100%; height: auto" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/c3.jpg' %}" style="width: 100%; height: auto" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/c6.jpg' %}" style="width: 100%; height: auto" class="d-block" alt="..." />
    </div>
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/random/1700x750/?burger"
        class="d-block"
        alt="..." style="width: 100%; height: auto"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock carousel %}
